<div class="container">
	<div class="jumbotron">
		<span class="label label-primary">
			Powered by <i>Synapse</i>
		</span>

		<h4 style="margin-bottom: 25px">Feedback Management System</h4>
		<a href="/users/signup" class="btn btn-sm btn-success pull-right">Admin Signup</a>
		<a href="/users/login" class="btn btn-sm btn-danger">Portal Login</a>
	</div>
</div> 