.navbar {
	border-radius: 0px !important;
}

.form-signin .input-group {
	padding: 10px;
}

.form-signin .btn-block {
	margin-top: 25px;
}

.block {
	padding: 10px;
}

.profile-panel {
	background: black;
}