<div class="container">
	<div class="alert alert-primary">Dashboard</div>

	<div class="col-lg-6">
		<div class="panel panel-danger">
		  	<div class="panel-heading">Performance Metrics ...</div>
		  	<div class="panel-body text-center">
		    	<div id="chart-container">FusionCharts will render here</div>
		  	</div>
		</div>
	</div>

	<div class="col-lg-6">
		<div class="panel panel-success">
		  	<div class="panel-heading">More Analytic ...</div>
		  	<div class="panel-body text-center">
		    	<div id="chart-container1">FusionCharts will render here</div>
		  	</div>
		</div>
	</div>

	<div class="col-lg-6">
		<div class="panel panel-info">
		  	<div class="panel-heading">Range Graphics ...</div>
		  	<div class="panel-body text-center">
		    	<div id="chart-container2">FusionCharts will render here</div>
		  	</div>
		</div>
	</div>

	<div class="col-lg-6">
		<div class="panel panel-info">
		  	<div class="panel-heading">Department Rankings ...</div>
		  	<div class="panel-body text-center">
		    	<div id="chart-container3">FusionCharts will render here</div>
		  	</div>
		</div>
	</div>

</div>
